$def with(datos)

    <form method="POST">
      <label for="nombre">Nombre</label>
      <input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre">
      <br>
      <label for="telefono">Telefono</label>
      <input type="text" value="$datos.telefono" id="telefono" name="telefono">
      <br>
      <label for="sexo">Sexo</label>
      <input type="text" value="$datos.sexo" id="sexo" name="sexo">
      <br>
      <label for="correo">Correo</label>
      <input type="text" value="$datos.correo" id="correo" name="correo">
      <br>
      <center><button type="submit" class="btn btn-primary btn-lg">Delette</button></center>
    </form