    <h1>Insertar clientes</h1>
    <form method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" name="telefono">
        <br>
        <label for="sexo">sexo</label>
        <input type="text" id="sexo" name="sexo">
        <br>
        <label for="correo">correo</label>
        <input type="text" id="correo" name="correo">
        <br>

        <button type="submit" class="btn btn-primary">Insertar</button>
    </form>